{% extends "inicio/encabezado.html"%} 
{%block NombrePestaña%}Contacto
{% endblock %}

{%block imagen%}
{%load static%} 
{%static'inicio/images/contacto.png'%}
{%endblock%}

{%block tituloMenu%}Contacto
<span>DSM</span>
{%endblock%} 

{% block Encabezado%}
<!--Encabezdo -->
<div class="page-header">
  <div class="page-title">
    <h3>Contacto <small>Ingresa tus dudas</small></h3>
  </div>
</div>
<!-- /Encabezado-->
{%endblock%}

{%block contenido%}
<!-- Formulario Contacto -->
<form class="form-horizontal" action="#" role="form">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-2 control-label text-right">Nombre:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label text-right">Mensaje:</label>
        <div class="col-sm-10">
          <textarea cols="50" rows="10" class="form-control"></textarea>
        </div>
      </div>
      <div class="form-actions text-right">
        <input type="submit" value="Enviar" class="btn btn-primary" />
      </div>
      {%endblock%}
    </div>
  </div>
</form>
<!-- Fin del Formulario -->
