{%extends "inicio/encabezado.html"%}
{%block titulo%}Contenido{% endblock %}
{%block contenido%}

<h2>Registrar</h2>
<p>matricula:
    <input type="text" name="matricula" />
</p>
<p>nombre:
    <input type="text" name="nombre" />
</p>
<p>carrera:
    <select name="carrera">
        <option value="1">Elige una carrera</option>
        <option>Ingenieria en DGS</option>
        <option>Ingenieria en EVND</option>
    </select>
</p>
<input type="radio" name="turno" value="matutino" /> matutino
<input type="radio" name="turno" value="vespertino" /> vespertino
<p><input type="button" name="Enviar" value="Enviar"></p>
</p> 
{%endblock%}