{% extends "inicio/encabezado.html"%}
{%block NombrePestaña%}Principal{% endblock %}
{%load static%}

{%block imagen%}
{%load static%}
{%static 'inicio/images/home.png'%}
{%endblock%}

{%block tituloMenu%}
Principal <span>DSM</span>
{%endblock%}

{%block Encabezado%}
 <!--Encabezado -->
 <div class="page-header">
    <div class="page-title">
        <h3>Alumnos<br>
        <small>Lista de Alumnos 9A</small></h3>
    </div>
    
</div>
<!-- /Encabezado-->
{%endblock%}
{%block contenido%}
<!-- Tabla de Alumnos -->
<table class="table table-bordered tablestriped">
    <thead>
    <tr>
    <th>Foto</th>
    <th>Matricula</th>
    <th>Nombre</th>
    <th>Carrera</th>
    <th>Turno</th>
    </tr>
    </thead>
    <tbody>
        <tr>
        <td class="text-center">
        <img src="" alt="" class="img-media">
        </td>
        <td class="text-semibold">UTM1234TIC</td>
        <td class="muted">Nathalia</td>
        <td class="muted">Tic</td>
        <td class="muted">Matutino</td>
        </tr>
        </tbody>
        </table>
        <!-- /Tabla de alumnos -->


{%endblock%}