{% extends "inicio/encabezado.html"%}
{%block NombrePestaña%}Principal{% endblock %}
{%load static%}

{%block imagen%}
{%load static%}
{%static 'inicio/images/home.png'%}
{%endblock%}

{%block tituloMenu%}
Principal <span>DSM</span>
{%endblock%}

{%block Encabezado%}
 <!--Encabezado -->
 <div class="page-header">
    <div class="page-title">
        <h3>Alumnos<br>
        <small>Lista de Alumnos 9A</small></h3>
    </div>
    
</div>
<!-- /Encabezado-->
{%endblock%}


{%block contenido%}
{%endblock%}