{% extends "inicio/encabezado.html"%}
{%block titulo%}Principal{% endblock %}

{%block imagen%}
{%load static%}
{%static 'inicio/images/home.png'%}
{%endblock%}
{%block nombre%}
Principal <span>DSM</span>
{%endblock%}


{%block contenido%}
<!-- Contenido Principal-->
<div class="page-content">


    <!--Encabezdo -->
    <div class="page-header">
        <div class="page-title">
            <h3>Alumnos<br>
            <small>Lista de Alumnos 9A</small></h3>
        </div>
        
    </div>
    <!-- /Encabezado-->


</div>
<!-- /Contenido Principal-->
{%endblock%}