{%extends "inicio/encabezado.html"%}

{%block NombrePestaña%}Eliminar Alumnos{%endblock%}

{%block imagen%}
{%load static%} 
{%static 'inicio/images/home.png'%}
{%endblock%}

{%block tituloMenu%}Eliminar Alumnos
{%endblock%} 

{%block Encabezado%}
<!--Encabezdo -->
<div class="page-header">
  <div class="page-title">
    <h3>Eliminar Alumnos</h3>
  </div>
</div>
<!-- /Encabezado-->
{%endblock%} 

{% block contenido%}
<form method="POST">
    {%csrf_token%}
    <!--ALERTA-->
    <div class="callout callout-danger fade in">
        <h5>Eliminar Alumnos</h5>
        <p>¿Estas seguro que deseas <strong>ELIMINAR</strong> el Alumno seleccionado?</p>
    </div>
    <!--ALERTA-->
    <button type="submit" class = "btn btn-danger">SI</button>
    <a href="{%url 'consultarAlumnos'%}" class="btn btn-primary">Cancelar</a>
</form>    
{%endblock%}