{%extends "inicio/encabezado.html"%}

{%block NombrePestaña%}Comentarios Consulta{%endblock%}
{%load static%}

{%block imagen%}
{%static 'inicio/images/correo.png'%}
{%endblock%}

{%block tituloMenu%}
Consulta<span>DSM</span>
{%endblock%}

{%block Encabezado%}
<!--Encabezdo -->
<div class="page-header">
  <div class="page-title">
    <h3>Comentarios
      <small>Consulta de comentarios</small></h3>
  </div>
</div>
<!-- /Encabezado-->
{%endblock%}

{% block contenido%}
<!-- Tabla de Alumnos -->
<table name= "comentarios" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Mensaje</th>
      <th class="text-center">Editar</th>
      <th class="text-center">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    {% for comentario in comentarios %}
    <tr> 
      <td class="text-semibold">{{comentario.usuario}}</td>
      <td class="muted">{{comentario.mensaje}}</td>
      <td class="text-center"><a href="{%url 'consultarComentario' comentario.id%}"  class="btn btn-warning" >Editar</a></td>
      <td class="text-center"><a href="{%url 'Eliminar' comentario.id%}"  class="btn btn-danger" >Eliminar</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- /Tabla de alumnos -->
{%endblock%}
