{%extends "inicio/encabezado.html"%}
{%block NombrePestaña%}Principal
{%endblock%}
{%load static%}

{%block imagen%} 
{%static 'inicio/images/home.png'%}
{%endblock%}

{%block tituloMenu%}Principal
<span>DSM</span>
{%endblock%} 

{%block Encabezado%}
<!--Encabezdo -->
<div class="page-header">
  <div class="page-title">
    <h3>Alumnos<br>
      <small>Lista de Alumnos 9A</small></h3>
  </div>
</div>
<!-- /Encabezado-->
{%endblock%}
{% block contenido%}
<!-- Tabla de Alumnos -->
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Foto</th>
      <th>Matricula</th>
      <th>Nombre</th>
      <th>Carrera</th>
      <th>Turno</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for alumno in alumnos %}
    <tr>
      <td class="text-center">
        <img src="{{alumno.imagen.url}}" alt="" class="img-media" />
      </td>
      <td class="text-semibold">{{alumno.matricula}}</td>
      <td class="muted">{{alumno.nombre}}</td>
      <td class="muted">{{alumno.carrera}}</td>
      <td class="muted">{{alumno.turno}}</td>
      <td class="text-center"><a href="{%url 'consultarAlumno' alumno.id%}"  class="btn btn-primary" >Editar</a></td>
      <td class="text-center"><a href="{%url 'EliminarAlumno' alumno.id%}"  class="btn btn-danger" >Eliminar</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- /Tabla de alumnos -->
{%endblock%}
