{%extends "inicio/encabezado.html"%}
{%block NombrePestaña%}Principal
{%endblock%}
{%load static%}

{%block imagen%}
{%static 'inicio/images/correo.png'%}
{%endblock%} {%block tituloMenu%}Principal
<span>DSM</span>
{%endblock%} {%block Encabezado%}
<!--Encabezdo -->
<div class="page-header">
  <div class="page-title">
    <h3>
      Seguridad<br />
      <small>Barra de búsqueda</small>
    </h3>
  </div>
</div>
<!-- /Encabezado-->
{%endblock%} {% block contenido%}

<html>
    <body>
        <form method = "GET">
            Nombre:
            <input type="text" name = "nombre"/>
            <input type="submit" name = "Buscar" value="Buscar"/>
        </form>
        <h2>Resultado:{{nombre|safe}}</h2>

        <!--busqueda-->
        <script type="application/javascript">
            var busqueda= new URLSearchParams(document.location.search);
            if(busqueda.has("nombre")){
                document.getElementById("resultado").innerHTML="Resultado: " + busqueda.get("nombre")
            }
        </script>
        <!--busqueda-->
    </body>
</html>
{%endblock%}